@{
    Layout = "_GuestLayout";
    ViewData["Title"] = "Boolflix";
}

<div class="text-center">
    <h1 class="display-4">Boolflix</h1>
</div>
<div class="container">
    <h3>Film per famiglie</h3>
    <div class="d-flex justify-content-center flex-wrap js_family_film">
        <!-- mostra lista film per famiglie -->
    </div>
    <h3>Film acclamati critica</h3>
    <div class="d-flex justify-content-center flex-wrap js_critica_film">
        <!-- mostra lista film acclamati dalla critica -->
    </div>
    <h3>Film tratti dai libri</h3>
    <div class="d-flex justify-content-center flex-wrap js_book_film">
        <!-- mostra lista film tratti dai libri -->
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        GetFilm("Film per famiglie", ".js_family_film");
        GetFilm("Film acclamati critica", ".js_critica_film");
        GetFilm("Film tratti dai libri", ".js_book_film");
        
        function GetFilm(genere, container) {
            axios.get('/api/contenuto/getfilm', {
                params: {
                    genere: genere,
                }
            }).then(res => {
                DisplayFilm(res.data, container);
            }).catch(error => {
                console.log(error);
            });
        }

        function DisplayFilm(data, container) {
            console.log(container);
            document.querySelector(container).innerHTML = '';
            data.forEach(film => {
                document.querySelector(container).innerHTML +=
                    `
                        <div class="card m-2" style="width: 18rem;">
                            <img src="${film.copertina}" class="card-img-top" alt="film">
                            <div class="card-body">
                                <h5 class="card-title">${film.titolo}</h5>
                                <p class="card-text">${film.durata} minuti</p>
                                <a class="btn btn-primary" href="@Url.Action("Detail","Home")/${film.id}">Dettagli</a>
                            </div>
                        </div>
                    `;
            });
        }
    </script>
}